.corollary-box {
    border-left: 5px solid #cfa8a8; /* Green border */
    background-color: #efe5e5; /* Light green background */
    padding-bottom: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.corollary-box span {
    background-color: #cfa8a8; /* Darker green for the title background */
    color: white;
    padding: 7px;
    margin-left : -5px;
    border-top-left-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.corollary-box p {
    font-family: Arial, sans-serif;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}
.corollary-box a{
    color: black;
}