.theorem-box {
    border-left: 5px solid #2C5F37; /* Green border */
    background-color: #EAF5EA; /* Light green background */
    padding-bottom: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.theorem-box span {
    background-color: #2C5F37; /* Darker green for the title background */
    color: white;
    padding: 7px;
    margin-left : -5px;
    border-top-left-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.theorem-box p {
    font-family: Arial, sans-serif;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}